TELEGRAM_BOT_TOKEN=
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=auksion
REDIS_HOST=localhost
REDIS_PORT=6379
ENCRYPTION_KEY=d8FEK1TIdSgzqHc-odyazxHMIInXfKfzdQBvRBC4_Zg=
TARGET_CHANNEL_ID=-1001234567890 # Example channel ID
